 <!DOCTYPE html>
<html lang="en" ng-app="todo">
  <head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="angular.js"></script>
    <script src="todo.js"></script>
  </head>

  <body class="well" ng-controller="AppCtrl">
     <h1>{{userName | uppercase}} ToDo List</h1>
    debugger;
    <ul class="unstyled">
      <li ng-repeat="item in items">
        {{item.done}} 
        <input ng-model="item.done" type="checkbox">
        
        <input ng-model="item.text" ng-disabled="item.disabled" type="text">
        <input ng-model="item.disabled" type="checkbox">
      </li>
    </ul> 
  </body>
</html>
